# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Local configuration files
*.local
*.log

# Secrets and credentials
secrets.json
.env

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a .spec file
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# C extensions
*.so 